/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  
  --bg-image: url(../images/cover-image-dark.png);

  --font-color: #f1b2ce;
  --accent-color: #ff0070;
  --bg-body: #000028;
  --bg-subtitle: #ff0070;

  --button-underline: 0 1px 0 #ff0070;
  --link-underline: 0 1px 0 #ff0070;
  --link-outline: 1px solid #ff0070;
}

.theme-dark .header__rec-marker {
  display: block;
}

.theme-dark .header__theme-menu-button,
.theme-dark .main__title {
  --font-color: #ff0070;
}

.theme-dark .header__theme-menu-button:hover {
  --accent-color: #ff007080;
}

.theme-dark .subtitle {
  --font-color: #000028;
}

.theme-dark .header__theme-menu-button_active,
.theme-dark .decorated-zone::before,
.theme-dark .decorated-zone::after {
  --accent-color: #ff0070;
}

.theme-dark .title {
  --font-color: #db00ff;
}
