/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {

  --bg-image: url(../images/cover-image-dark.png);

  --title-color: #DB00FF;
  --font-color-primary: #f1b2ce;
  --font-color-secondary: #ff0070;
  --font-color-tertiary: #000028;
  --font-color-shadow: #ff0070;
  --accent-color-primary: #ff0070;
  --accent-color-secondary: #f1b2ce;
  --accent-color-tertiary: #ff007080;
  --button-color-active: #ff0070;
  --decoration-color: #ff0070;
  --bg-body: #000028;
  --bg-subtitle: #ff0070;

  --button-underline: 0 1px 0 #ff0070;
  --link-underline: 0 1px 0 #ff0070;
  --link-outline: 1px solid #ff0070;
}

.theme-dark .header__rec-marker {
  display: block;
}

