/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Цвет фона и в целом темы тестировала в двух браузерах, все отображается корректно - по макету.
В артефактах с тестов по какой-то причине фон выглядит так, как у Вас на скриншоте.
У Вас фон во время тестирования отображается так же, как в артефактах..? */

:root.theme-light {

  --bg-image: url(../images/cover-image-light.png);

  --title-color: #ffc2e6;
  --font-color-primary: #353430;
  --font-color-secondary: #353430;
  --font-color-tertiary: #353430;
  --accent-color: #ff8dcb;
  --decoration-color: #353430;
  --bg-body: #ffc2e6;
  --bg-subtitle: #ff8dcb;

  --button-underline: 0 1px 0 #353430;
  --link-underline: 0 1px 0 #353430;
  --link-outline: 1px solid #353430;
}

.theme-light .header__rec-marker {
  display: none;
}

.theme-light .header__theme-menu-button:hover {
  --accent-color: #32312D66;
}

.theme-light .header__theme-menu-button_active {
  --accent-color: #353430;
}

@media (prefers-color-scheme: light) {

  :root {
  --bg-image: url(../images/cover-image-light.png);

  --title-color: #ffc2e6;
  --font-color-primary: #353430;
  --font-color-secondary: #353430;
  --font-color-tertiary: #353430;
  --accent-color: #ff8dcb;
  --decoration-color: #353430;
  --bg-body: #ffc2e6;
  --bg-subtitle: #ff8dcb;

  --button-underline: 0 1px 0 #353430;
  --link-underline: 0 1px 0 #353430;
  --link-outline: 1px solid #353430;
  }

  .header__rec-marker {
    display: none;
  }

  
  .header__theme-menu-button:hover {
    --accent-color: #32312D66;
  }
  
  .header__theme-menu-button_active {
    --accent-color: #353430;
  }
}
