/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-size: var(--m-font-size);
  color: var(--font-color);
  font-weight: var(--m-font-weight);
  background-color: var(--bg-body);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: auto;
  padding: var(--container-padding);
  margin-block-end: 40px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border: 1px var(--accent-color) solid;
  position: absolute;
}

/*Попробовать флексами сделать*/
.decorated-zone::before {
  border-bottom: none;
  border-left: none;
  left: calc(100% - 35px);
  bottom: calc(100% - 35px);
}

.decorated-zone::after {
  border-top: none;
  border-right: none;
  right: calc(100% - 35px);
  top: calc(100% - 35px);
}

.header__rec-marker {
  inline-size: 25px;
  block-size: 25px;
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  align-self: flex-start;
  justify-self: flex-end;
  position: relative;
}

.header__rec-marker::before {
  --font-color: var(--pink-bright);

  content: "Rec";
  color: var(--font-color);
  text-transform: uppercase;
  position: absolute;
  top: 5%;
  right: 100%;
}

.header__rec-marker::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__theme-menu {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  justify-self: flex-end;
  align-self: center;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  --font-color: var(--pink-bright);

  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  color: var(--font-color);
  text-transform: lowercase;
}

.header__theme-menu-button_type_dark {
  border: 1px var(--accent-color) solid;
  padding: 1px 13px 1.5px;
}

.title {
  --font-color: var(--purple);

  font-size: var(--l-font-size);
  font-weight: var(--l-font-weight);
  color: var(--font-color);
  text-transform: lowercase;
}

.header__title {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: flex-start;
  align-self: flex-end;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-end: 55px;
}

.header__text-box {
  grid-column: 1 / 3;
  grid-row: 3 / 3;
  margin-block-end: 62px;
}

.subtitle {
  --font-color: var(--blue-dark);
  
  font-size: var(--m-font-size);
  font-weight: var(--l-font-weight);
  color: var(--font-color);
}

.subtitle__decor {
  background-color: var(--bg-subtitle);
}

.subtitle_indent {
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.paragraph__decor {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.weight_normal {
  font-weight: var(--m-font-weight);
}

.main {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: auto;
  padding: 0 var(--container-padding) var(--container-padding);
}

.main__section {
  grid-column: 1 / 3;
  grid-row: auto;
  margin-block-start: 75px;
}

.main__title {
  --font-color: var(--pink-bright);
  
  font-size: var(--m-font-size);
  color: var(--font-color);
}

.main__section-gallery {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: auto;
  gap: 10px;
}

.main__section-gallery-subtitle {
  grid-column: 1 / 3;
}

.main__section-gallery-img {
  grid-column: 1 / 3;
  inline-size: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--container-padding) var(--container-padding);
}

.footer__title {
  margin-block: 285px;
  text-shadow: 2px 2px 0 var(--accent-color);
}