/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {

  --bg-image: url(../images/cover-image-dark.png);

  --m-font-size: 1.125rem;
  --l-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --m-font-weight: normal;
  --l-font-weight: bold;

  --title-color: #DB00FF;
  --font-color-primary: #f1b2ce;
  --font-color-secondary: #ff0070;
  --font-color-tertiary: #000028;
  --font-color-shadow: #ff0070;
  --accent-color: #ff0070;
  --decoration-color: #ff0070;
  --bg-body: #000028;
  --bg-subtitle: #ff0070;

  --button-underline: 0 1px 0 #ff0070;
  --link-underline: 0 1px 0 #ff0070;
  --link-outline: 1px solid #ff0070;

  --button-padding: 1px 13px 3px;

  --grid-template-columns: 2fr 1fr;

  --container-padding: 10px;
}

@media (width >= 768px) {

  :root {
    --l-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --grid-template-columns: minmax(236px, 2fr) minmax(min-content, 20px)
      minmax(108px, 1fr) minmax(364px, 3fr);
    --container-padding: 20px;
  }
}

@media (width >= 1024px) {

  :root {
    --l-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --grid-template-columns: minmax(315px, 2fr) minmax(min-content, 20px)
      minmax(157px, 1fr) minmax(157px, 1fr) minmax(min-content, 20px)
      minmax(315px, 2fr);
  }
}
