/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--m-font-size: 1.125rem;
--l-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

--m-font-weight: normal;
--l-font-weight: bold;

--purple: #DB00FF;
--blue-dark: #000028;
--pink-light: #F1B2CE;
--pink-bright: #FF0070;

--background-image: url(/images/cover-image-dark.png);

--font-color: var(--pink-light);
--accent-color: var(--pink-bright);
--bg-body: var(--blue-dark);
--bg-subtitle: var(--pink-bright);
--bg-image: var(--background-image);

--grid-template-columns: 2fr 1fr;

--container-padding: 10px;
}

/*@media (width >= 768px) {
  :root {
    --l-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --grid-template-columns: 2fr minmax(min-content, 20px) 1fr 3fr;
    --container-padding: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --l-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}*/